In [2]:
from PIL import Image
import os
import json
import pandas as pd
import mysql.connector



# reading the data from csv files
df_aggregated_transaction=pd.read_csv('aggregated_transaction.csv')
df_aggregated_user=pd.read_csv('aggregated_user.csv')
df_map_transaction=pd.read_csv('map_transaction.csv')
df_map_user=pd.read_csv('map_user.csv')
df_top_transaction=pd.read_csv('top_transaction.csv')
df_top_user=pd.read_csv('top_user.csv')

#Mysql Connection
connection=mysql.connector.connect(host="localhost",user="root",password="Seswa@123",database="phonepe")
mycursor=connection.cursor()


def insert_df_to_mysql(df, table_name, connection):
    cursor = connection.cursor()
    
    # Get column names from DataFrame
    columns = ", ".join(df.columns)
    
    # Prepare placeholders for values
    placeholders = ", ".join(["%s"] * len(df.columns))
    
    # Prepare SQL query
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    
    # Iterate over DataFrame rows and execute insert query
    for _, row in df.iterrows():
        cursor.execute(sql, tuple(row))
    
    # Commit changes to database
    connection.commit()
    


# Insert data from DataFrames to MySQL tables
insert_df_to_mysql(df_aggregated_transaction, 'aggregated_transaction', connection)
insert_df_to_mysql(df_aggregated_user, 'aggregated_user', connection)
insert_df_to_mysql(df_map_transaction, 'map_transaction', connection)
insert_df_to_mysql(df_map_user, 'map_user', connection)
insert_df_to_mysql(df_top_transaction, 'top_transaction', connection)
insert_df_to_mysql(df_top_user, 'top_user', connection)